apiVersion: v1
kind: Service
metadata:
  name: student-service
  
spec:
  type: NodePort
  selector:
    app: student-app
  ports:
    - port: 80 #port of the service
      targetPort: 80 #port of the container
      nodePort: 30008 #port of the node ,we can access the service from outside the cluster


  #kubectl apply -f app/service.yaml
  #http://localhost:30008/